.header-wrapper {
    width: 100%;
    .header-top {
        color: white;
        background: linear-gradient(to right, #82009f 0, #5d34af 50%, #00ceab 100%);
        padding: 10px 100px;
        height: 46px;
        font-weight: 500;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .mail {
            margin-left: 5px;
        }
    }
    .header-bottom {
        position: absolute;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        padding: 0px 100px;
        height: 80px;
        padding: 20px 0px;
        top: 46px;
        background-color: white;
        .header-container {
            .item {
                &:hover {
                    opacity: 0.7;
                }
                transition: opacity 0.1s linear;
                -webkit-transition: opacity 0.1s linear;
                -moz-transition: opacity 0.1s linear;
                -ms-transition: opacity 0.1s linear;
                -o-transition: opacity 0.1s linear;
            }
            .active-menu-item {
                font-weight: bold;
            }
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
            }
        }
    }
    .header-sticky {
        // background-color: #0288d1;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
        transition: 0.1s linear;
        -webkit-transition: 0.1s linear;
        -moz-transition: 0.1s linear;
        -ms-transition: 0.1s linear;
        -o-transition: 0.1s linear;
        // a {
        //     color: white;
        // }
    }
}
