.title {
    padding-bottom: 10px;
}
.classes-wrapper {
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-add-member {
    height: 100%;
    width: 800px;
    position: relative;

    .btn-add-member {
        width: 100px;
        float: right;
        margin-top: 10px;
    }
}