.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    .banner {
        div {
            margin-bottom: 20px;
        }
        .title {
            p {
                font-size: 13px;
                font-weight: 900;
                text-transform: uppercase;
            }
        }
        .description {
            p {
                font-size: 26px;
                font-weight: 700;
                line-height: 1.2em;
            }
        }
        .content {
            font-size: 15px;
            font-weight: 400;
            text-align: justify;
        }
        .button {
            font-weight: 700;
            padding: 10px 25px;
            text-transform: none;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }
    .admissions {
        margin: 25px 0px;
        .text-field {
            &:hover {
                border: red;
            }
        }
        .button {
            font-weight: 700;
            padding: 10px 25px;
            text-transform: none;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }
    .news {
        margin: 25px 0px;
        h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        .label {
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.4em;
            margin-bottom: 5px;
            cursor: pointer;
            &:hover {
                color: rgb(39, 39, 39);
            }
            transition: all 0.1s linear;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            -ms-transition: all 0.1s linear;
            -o-transition: all 0.1s linear;
        }
        .carousel-container {
            padding: 10px;
            .carousel-item {
                div {
                    margin: auto;
                }
            }
            button[aria-label='Go to previous slide'] {
                z-index: 0;
                left: 0;
            }
            button[aria-label='Go to next slide'] {
                z-index: 0;
                right: 0;
            }
        }
    }
    .why-choose {
        margin: 25px 0px;
        .title {
            div {
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                color: #40aadb;
                margin: 5px 0px 5px 0px;
            }
            h2 {
                font-size: 30px;
                font-weight: 800;
                text-transform: capitalize;
                color: rgb(71, 71, 71);
            }
        }
        .list-items {
            margin-top: 20px;
            .item {
                font-size: 15px;
                font-weight: 400;
                list-style: none;
                padding-bottom: calc(7px / 2);
                display: flex;
                align-items: center;
                span {
                    margin-left: 5px;
                }
            }
        }
        .button {
            margin-top: 20px;
            font-weight: 700;
            padding: 10px 25px;
            text-transform: none;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }
    .teacher-team {
        margin: 25px 0px;
        .title {
            div {
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                color: #40aadb;
                margin: 5px 0px 0px 0px;
                text-align: center;
            }
            h2 {
                margin: 5px 5px 10px 5px;
                font-size: 26px;
                font-weight: 800;
                text-transform: capitalize;
                width: 100%;
                text-align: center;
            }
        }
        .image {
            height: 200px;
            width: 200px;
            margin: auto;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 200px;
                height: 200px;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
        .name {
            font-size: 1.2em;
            font-weight: 800;
            font-family: 'Nunito', sans-serif;
            width: 100%;
            text-align: center;
        }
        .class {
            font-size: 15px;
            font-weight: 700;
            text-transform: capitalize;
            width: 100%;
            text-align: center;
        }
    }

    .can-learn {
        margin: 25px 0px;
        .card {
            position: relative;
        }
        .title {
            div {
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                color: #40aadb;
                margin: 5px 0px 0px 0px;
                text-align: center;
            }
            h2 {
                margin: 5px 5px 10px 5px;
                font-size: 26px;
                font-weight: 800;
                text-transform: capitalize;
                width: 100%;
                text-align: center;
            }
        }
        .image {
            height: 300px;
            width: 300px;
            margin: auto;
            position: relative;
        }
    }
}
